@{
    ViewBag.Title = "Add Branches";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section head
{
 <script type="text/javascript">

 
  $(document).ready(function () {
   var model = [];
   var hasRecord = false;

   //Load Cluster
   $.ajax({
    cache: false,
    type: "GET",
    url: "@Url.Action("LoadCluster","ParameterMaintenance")",
    contentType: "application/json",
   success: function(data) {
    $.each(data, function () {
     $("#selCluster").append($("<option />").val(this.Cluster).text(this.Cluster))
    })
   },
   error: function (response) {
   }
   });


   $().DMSFormValidator('#frmAddBranches')
   .on('success.form.fv', function (e) {
    e.preventDefault();
    eModal.confirm("Save new CTBC Branch?", "Confirmation").then(function () {
     //toastr.success("New Access Group has been saved.");
     model = {
      BranchCode: $('#txtbranchCode').val(),
      BranchName: $('#txtBranchName').val(),
      IsActive: $('#chkIsActive').prop('checked'),
      Email: $('#txtEmail').val(),
      BhossEmail: $('#txtBhossEmail').val(),
      Cluster: $("#selCluster option:selected").val(),
     }

     $.ajax({
      url: '@Url.Action("BranchInsert", "ParameterMaintenance")',
      data: JSON.stringify(model),
      type: 'POST',
      contentType: 'application/json',
      traditional: true,
      success: function (data) {
       if (data.ResponseStatus != 1) {
        toastr.error(data.Description, "Information");
       }
       else {
        toastr.success(data.Description, "Information")
       }
      },
      error: function (response) { }
     });
     window.location = '@Url.Action("Index", "ParameterMaintenance")';
    }, null);
   });
  });
 </script>
}
<h2 class="page-header">
 New CTBC Branches
 <small></small>
</h2>
<div class="col-md-5 col-md-offset-4">
 <form id="frmAddBranches">
  <div class="panel panel-primary">
   <div class="panel-heading">Add New CTBC Branches</div>
   <div class="panel-body">
    @Html.AntiForgeryToken()
    <div class="row">
     <div class="col-md-12">
      <div class="form-group">
       <label>Branch Code: </label>
       <input type="text" class="form-control TextRequiredField" id="txtbranchCode" name="txtbranchCode" autocomplete="off" maxlength="3" />
      </div>

      <div class="form-group">
       <label>Branch Name: </label>
       <input type="text" class="form-control TextRequiredField" id="txtBranchName" name="txtBranchName" autocomplete="off" maxlength="50"/>
      </div>

      <div class="form-group" id="clustertag">
        <label>Cluster: </label>
        <select class="form-control" id="selCluster" name="selCluster">
         <option disabled selected value> -------- select a value --------</option>
        </select>
      </div>

      <div class="form-group">
       <label>E-Mail: </label>
       <input type="text" class="form-control" id="txtEmail" name="txtEmail" autocomplete="off" />
      </div>

      <div class="form-group">
       <label>BHOSS E-Mail: </label>
       <input type="text" class="form-control" id="txtBhossEmail" name="txtBhossEmail" autocomplete="off" />
      </div>

      <div class="form-group">
       <label class="checkbox-inline">
        <input type="checkbox" id="chkIsActive" name="chkIsActive" checked /> Is Active?
       </label>
      </div>
    
     </div>
    </div>
   </div>
   <div class="panel-footer">
    <div class="row">
     <div class="col-md-12 text-right">
      <button type="submit" id="btnSave" name="btnSave" class="btn btn-success"><i class="glyphicon glyphicon-floppy-disk"></i> Save</button>
      <button type="button" onclick="javascript: window.location='@Url.Action("Index", "ParameterMaintenance")'" id="btnSave" name="btnSave" class="btn btn-danger"><i class="glyphicon glyphicon-floppy-remove"></i> Cancel</button>
     </div>
    </div>
   </div>
  </div>
 </form>
</div>

