@using SYS_MATRIX.Models

@model SYS_GROUP_MODEL

@{
    ViewBag.Title = "View Access Group Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 class="page-header">
 Group Details
 <small></small>
</h2>
<div class="col-md-5 col-md-offset-4">
 <div class="panel panel-primary">
  <div class="panel-heading">Access Group Details</div>
  <div class="panel-body">
   <div class="row">
    <div class="col-md-4">
     <label>Access Group Code</label>
     <input type="text" name="txtAccessGroupCode" id="txtAccessGroupCode" class="form-control" value="@Model.Group_Code" readonly />
    </div>
   </div>
   <div class="row">
    <div class="col-md-12">
     <label>Access Group Name</label>
     <input type="text" name="txtAccessGroupName" id="txtAccessGroupName" class="form-control" value="@Model.Group_Name" readonly />

     <label>Access Group Description</label>
     <input type="text" name="txtDescription" id="txtDescription" class="form-control" value="@Model.Description" readonly />
         
     <label>Created By</label>
     <input type="text" name="txtCreatedBy" id="txtCreatedBy" class="form-control" value="@Model.CreatedBy" readonly />

     <label>Created On</label>
     <input type="text" name="txtCreatedOn" id="txtCreatedOn" class="form-control" value="@Model.CreatedOn.ToString("MMM dd, yyyy hh:mm tt")" readonly />

     <label>Modified By</label>
     <input type="text" name="txtModifiedBy" id="txtModifiedBy" class="form-control" value="@Model.ModifiedBy" readonly />

     <label>Modified On</label>
     <input type="text" name="txtModifiedOn" id="txtModifiedOn" class="form-control" value="@Model.ModifiedOn.ToString("MMM dd, yyyy hh:mm tt")" readonly />

     <label class="checkbox-inline"><input type="checkbox" name="chkIsActive" id="chkIsActive" checked="@Model.IsActive" disabled /> Is Active?</label>     
    </div>
   </div>
   <div class="row  pull-right">
    <div class="col-md-12">
     <button type="button" onclick="javascript: window.location='@Url.Action("Groups", "Access")'" class="btn btn-primary" name="btnBack" id="btnBack"><i class="glyphicon glyphicon-arrow-left"></i> Back</button>
    </div>
   </div>
  </div>
 </div>
</div>
