@using System.Web.Helpers;
@using SYS_MATRIX.Models;

@model List<SYS_GROUP_MODEL>

@{
    ViewBag.Title = "Groups";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section head
 {
 <link rel="stylesheet" href="~/Assets/datatable/bootstrap-table.css" type="text/css">
 <script type="text/javascript" src="~/Assets/datatable/bootstrap-table.js"></script>

  <script type="text/javascript">
   function CodeFormatter(value)
   {
    return PadLeft(value, 8, '0');
   }

   function IsActiveFormatter(pValue)
   {
    return "<i class= 'glyphicon " + (pValue == '1' ? "glyphicon-ok text-success" : "glyphicon-remove text-danger") + "' ";
   }

   $(document).ready(function () {
    var data = @Html.Raw(Json.Encode(Model))     
    $("#tblAccessGroupList").bootstrapTable('load', data);

    $("#btnActivate").click(function () {
     GroupProcessAction(true);
    });

    $("#btnDeactivate").click(function () {
     GroupProcessAction(false);
    });
  
   });


   function removeGroup(paramID) {
    var pID = paramID
    $.ajax({
     cache: false,
     url: '@Url.Action("DeleteGroup", "Access")',
     contentType: 'application/json',
     data: JSON.stringify({
      'pIDs': pID
     }),
     type: 'POST',
     success: function (data) {
      toastr.success("Successfull delete the Group Access!");
      $("#tblAccessGroupList").bootstrapTable('remove', {
       field: 'Group_Code',
       values: pID
      });
      location.reload();
     },
     error: function () {
      toastr.info("Select atleast one to remove!")
     }
    });
   }

   function actionFormatter(value, row, index) {
    return [
      '<a class="edit" href="#" title="Edit">',
       '<i class="glyphicon glyphicon-edit"></i>',
       '</a> ', '<a class="view" href="javascript:void(0)" id="view" title="View">',
       '<i class="glyphicon glyphicon-info-sign"></i>',
       '</a> ',
       '<a class="remove" href="javascript:void(0)" id="remove" title="Remove">',
       '<i class="glyphicon glyphicon-trash"></i>',
       '</a> '
    ].join('');
   }

   window.actionEvents = {
    'click .remove': function (e, value, row, index) {
     bootbox.confirm("Are you sure you want to delete the group access and it's details?", function (result) {
      if (result == true) {
       removeGroup(row.Group_Code)
      }
      toastr.success("Successfully delete the Group Access!")
     })
    },
    'click .edit': function (e, value, row, index) {
     window.location = '@Url.Action("GroupEdit", "Access", new { CMSCode = "token" })'.replace("token", row.Group_Code);
    },
    'click .view': function (e, value, row, index) {
     window.location = '@Url.Action("GroupView", "Access", new { CMSCode = "token" })'.replace("token", row.Group_Code);
    }
   };

   function GroupProcessAction(IsActivate)
   {
    var $table = $("#tblAccessGroupList");
    if ($table.bootstrapTable('getSelections').length > 0)
    {
     eModal.confirm("Are you sure you want to " + (IsActivate ? "activate" : "deactivate") + "selected item(s)?", "Confirmation").then (function() {
      var ids = $.map($table.bootstrapTable('getSelections'), function (row, index) {
       return row.Group_Code;
      });

      $.ajax ({
       url: '@Url.Action("GroupProcessAction", "Access")',
       type: 'POST',
       data: {IDs: ids, pIsActivate: IsActivate },
       traditional: true,
       success: function(data){
        if (data.ResponseStatus == 1)
        {
         $.each(ids, function (index, value) {
          $table.bootstrapTable('updateByUniqueId', {
           id: value,
           row: {
            IsActive: (IsActivate ? '1' : '0')
           }
          });
         });
         toastr.success(data.Description, "Information");
        }
        else if (data.ResponseStatus == 0)
        {
         toastr.info(data.Description, "Information");
        }
       },
       error: function(response){}
      });
     }, null);
    }
    else
    {
     toastr.info("Select at least 1 item");
    }
   }
   //

   
  </script>
 }
<h2 class="page-header">
 Groups Maintenance
 <small></small>
</h2>
<div id="toolbar">
 <button class="btn btn-success" type="button" title="Add New Group" onclick="window.location = '@Url.Action("GroupAddNew", "Access")'"><i class="glyphicon glyphicon-plus"></i>Add Group Access</button>
 <button class="btn btn-success" id="btnActivate" type="button" title="Activate Selected Item(s)"><i class="glyphicon glyphicon-ok"></i> Activate Group Access</button>
 <button class="btn btn-danger" id="btnDeactivate" type="button" title="Deactivate Selected Item(s)"><i class="glyphicon glyphicon-remove"></i> Deactivate Group Access</button> 
</div>

<div class="panel panel-primary">
 <div class="panel-heading">Access Group Management</div>
 <div class="panel-body">
  <table id='tblAccessGroupList'
         style="margin:0px;"
         data-classes="table table-hover table-condensed table-striped"
         data-row-style="rowStyle"
         data-toggle="table"
         data-search="true"
         data-cache="false"
         data-toolbar="#toolbar"
         data-checkbox-header="false"
         data-click-to-select="true"
         data-pagination="true"
         data-page-list="[5, 10, 20]"
         data-unique-id="Group_Code">
   <thead>
    <tr>
     <th data-field="state" data-checkbox="true"></th>
     <th class="Group_Code" data-field="Group_Code" data-width="100">Group Code</th>
     <th data-field="Group_Name" data-sortable="true">Group Name</th>
     <th data-field="IsActive" data-align="center" data-formatter="IsActiveFormatter" data-width="100">Is Active?</th>
     <th data-field="Action" data-formatter="actionFormatter" data-events="actionEvents" data-width="100" data-align="center">Action</th>
    </tr>
   </thead>
  </table>
 </div>
</div>
